<a href="https://colab.research.google.com/github/joelomar15/CorreoJoelEspinoza/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRIMER CUADERNO DE JUPYTER**

In [ ]:
print("hola mundo")

hola mundo

Mi primera funcion python

In [ ]:
def suma(a,b):
  r = a+b
  return r
suma(5,6)

11

In [ ]:
def multiplicacion(a,b):
  return a*b
multiplicacion("4",5)

'44444'

In [ ]:
def mostrarContenido(lista):
  for iterator in lista:
    print(iterator,end=" ")

#mLista=[1,3,5,7,9,11,13,15]
mLista=[12,"otro dato",[3,5,7,9],(55,23)]

mostrarContenido(mLista)

12 otro dato [3, 5, 7, 9] (55, 23)

In [ ]:
def ordenar(mLista):
  n=len(mLista)
  for i in range(n):
    for j in range(n-1-i):
      if mLista[j] > mLista[j+1]:
        mLista[j],mLista[j+1]=mLista[j+1],mLista[j]

mLista = [4, 6, 2, 1, 6, 7]
print(mLista,end=" ")
ordenar(mLista)
print(mLista,end=" ")

[4, 6, 2, 1, 6, 7] [1, 2, 4, 6, 6, 7]

In [ ]:
filasNum = int(input(f"Ingrese el numero de Filas: "))
columnasNum = int(input(f"Ingrese el numero de Columnas: "))

matriz = [[0 for _ in range(columnasNum)] for _ in range(filasNum)]
for filas in range(filasNum):
    for columnas in range(columnasNum):
        valor = int(input(f"Ingrese el elemento ({filas},{columnas}): "))
        matriz[filas][columnas]=valor


print("Matriz ingresada:")
for fila in matriz:
    print(fila)

Ingrese el numero de Filas: 3
Ingrese el numero de Columnas: 3
Ingrese el elemento (0,0): 123
Ingrese el elemento (0,1): 456
Ingrese el elemento (0,2): 789
Ingrese el elemento (1,0): 1
Ingrese el elemento (1,1): 2
Ingrese el elemento (1,2): 3
Ingrese el elemento (2,0): 1
Ingrese el elemento (2,1): 2
Ingrese el elemento (2,2): 3
Matriz ingresada:
[123, 456, 789]
[1, 2, 3]
[1, 2, 3]